# Environment Configuration
NODE_ENV=development

# Database Configuration
DB_USER=ecopath_user
DB_HOST=localhost
DB_NAME=ecopath
DB_PASSWORD=
DB_PORT=5432
DB_MAX_CONNECTIONS=20
DB_IDLE_TIMEOUT=30000
DB_CONNECTION_TIMEOUT=2000

# Server Configuration
PORT=5001

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
